<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>  
  <div class="pt-3">
    <p>User Management System  November 2023
      Tech Stack: Node.js, Express, Express-EJS, MongoDB <br>
      •
      Developed a robust User Management System using Node.js, Express, Express-EJS, and MongoDB, providing essential functionalities for user creation, update, deletion, and search.<br>
      •
      Integrated MongoDB to store and manage user data efficiently.<br>
      •
      Implemented user registration, update, and deletion functionalities.<br>
      •
      Designed a user-friendly interface using Express-EJS for seamless user interaction.<br>
      •
      Added search functionality for quick and efficient retrieval of user information.<br>
      •
      Implemented CRUD operations to manage user data effectively.</p>
  </div>